<ul>
{%- for stat in data.member.stats | sort(true, true, 'value') -%}
	{%- if stat.category == 'deaths' -%}
		<li>{{ stat.categorizedName|clean }}: {{ stat.value }}</li>
	{%- endif -%}
{%- endfor -%}
</ul>