{%- set displayingInventories = [] -%}

{%- for inventoryName, _ in data.member.inventories -%}
	{%- if inventoryName != 'armor' -%}{%- set displayingInventories = displayingInventories|append(inventoryName) -%}{%- endif -%}
{%- endfor -%}

<div id="inventory-tabs">
	{%- for inventoryName in displayingInventories -%}
		{%- set inventoryContents = data.member.inventories[inventoryName] -%}
		<button class="inventory-tab{% if loop.first %} inventory-tab-active{% endif %}" data-inventory-tab-name="{{ inventoryName }}">{{ inventoryName|replace('_', ' ')|capitalize }}</button>
	{%- endfor -%}
</div>
{%- for inventoryName in displayingInventories -%}
	{%- set inventoryContents = data.member.inventories[inventoryName] -%}
	<div id="{{ inventoryName }}" class="inventory-content{% if loop.first %} inventory-content-active{% endif %}">
		{{- render.inventory(inventoryContents, name=inventoryName) -}}
	</div>
{%- endfor -%}

<script>
const inventoryTabEls = document.getElementsByClassName('inventory-tab')
let activeInventoryEl = document.getElementsByClassName('inventory-content-active')[0]
let activeInventoryTabEl = document.getElementsByClassName('inventory-tab-active')[0]

for (const inventoryTabEl of inventoryTabEls) {
	inventoryTabEl.addEventListener('click', () => {
		const inventoryTabName = inventoryTabEl.dataset.inventoryTabName
		const inventoryContentsEl = document.getElementById(inventoryTabName)

		// replace the classes for the active inventory content element
		activeInventoryEl.classList.remove('inventory-content-active')
		activeInventoryEl = inventoryContentsEl
		activeInventoryEl.classList.add('inventory-content-active')

		// replace the classes for the active inventory tab element
		activeInventoryTabEl.classList.remove('inventory-tab-active')
		activeInventoryTabEl = inventoryTabEl
		activeInventoryTabEl.classList.add('inventory-tab-active')
	})
}
</script>