<noscript><p>Enable JavaScript, nerd</p></noscript>
<div id="member-leaderboard-spots">
	gaming
</div>
<script>

const leaderboardsEl = document.getElementById('member-leaderboard-spots')

let leaderboardsUnseen = true

async function loadLeaderboards() {
	// if we've already seen the leaderboards, return
	if (!leaderboardsUnseen) return

	console.log('good, loading leaderboards')
	leaderboardsUnseen = false
	const response = await fetch(`{{ BASE_API }}/player/{{ data.member.uuid }}/{{ data.profile.uuid }}/leaderboards`)
	await response.json()
}

let observer = new IntersectionObserver(loadLeaderboards, {
  rootMargin: '0px',
  threshold: 0
})
observer.observe(leaderboardsEl)

</script>