<noscript><p>Enable JavaScript, nerd</p></noscript>
<div id="member-leaderboard-spots">
	gaming
</div>
<script>

const leaderboardsEl = document.getElementById('member-leaderboard-spots')

async function loadLeaderboards() {
	console.log('good, loading leaderboards')
	await fetch(`{{ BASE_API }}/player/{{ data.member.uuid }}/{{ data.profile.uuid }}/leaderboards`)
}

let observer = new IntersectionObserver(loadLeaderboards, {
  rootMargin: '0px',
  threshold: 0
})
observer.observe(leaderboardsEl)

</script>