{% extends "base.njk" %}
{% import 'render.njk' as render %}

{% block title %}Hypixel SkyBlock auction prices{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main %}
<h1>SkyBlock auction prices</h1>
<table class="auction-prices-table">
    <tr>
        <th>Item</th>
        <th># sold in past 24 hours</th>
        <th>Median price</th>
    </tr>
    {% for auction in data %}
    <tr>
        <td>{{- render.item(auction.item) -}} <span class="big-item-name">{{ auction.item.display.name|formattingCodeToHtml|safe }}</span></td>
        <td class="big-text">{{ auction.count|cleannumber }}</td>
        <td class="big-text">{{ auction.median|cleannumber }} coins</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
