<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	{%- block head -%}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#010101">
	<meta name="robots" content="noindex, nofollow">
	<title>{% block title %}SkyBlock Stats{% endblock %}</title>

	<meta property="og:title" content="{% block metatitle %}{% endblock %}">
	<meta property="og:description" content="{% block metadescription %}{% endblock %}">
	<meta property="og:site_name" content="Hypixel SkyBlock Stats">
	<meta property="og:type" content="website"/>

	<link rel="stylesheet" href="/style.css">
	</script>
	{%- endblock -%}
</head>
<body>
{%- block body -%}
	<main>
	{%- block main -%}

	{%- endblock -%}
	</main>
{%- endblock -%}
</body>
</html>
