<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	{%- block head -%}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#010101">
	<title>{% block title %}SkyBlock Stats{% endblock %}</title>

	<meta property="og:title" content="{% block metatitle %}SkyBlock Stats{% endblock %}">
	<meta property="og:description" content="{% block metadescription %}{% endblock %}">
	<meta property="og:site_name" content="Hypixel SkyBlock Stats">
	<meta property="og:type" content="website"/>

	<link rel="stylesheet" href="/style.css">
	<script>
// this script handles the item hover lore tooltip
document.addEventListener('DOMContentLoaded', () => {
	const itemEls = document.getElementsByClassName('item')
	const tooltipEl = document.getElementById('global-tooltip')
	let tooltipLocked = false

	document.addEventListener('mousemove', (e) => {
		if (!tooltipLocked) {
			tooltipEl.style.top = e.pageY + 'px'
			tooltipEl.style.left = e.pageX + 'px'
		}
	})
	
	for (const itemEl of itemEls) {
		itemEl.addEventListener('mouseover', () => {
			if (!tooltipLocked) {
				const loreHtml = itemEl.dataset.loreHtml
					.replace(/&lt;/g, '<')
					.replace(/&gt;/g, '>')
					.replace(/&quot;/g, '"')
				const nameHtml = itemEl.dataset.nameHtml
					.replace(/&lt;/g, '<')
					.replace(/&gt;/g, '>')
					.replace(/&quot;/g, '"')
				tooltipEl.innerHTML = `<p class="item-lore-name">${nameHtml}</p><p class="item-lore-text">${loreHtml}</p>`
			}
			tooltipEl.style.display = 'block'
		})

		itemEl.addEventListener('mouseout', () => {
			if (!tooltipLocked) {
				tooltipEl.innerHTML = ''
				tooltipEl.style.display = 'none'
			}
		})

		itemEl.addEventListener('click', () => {
			console.log('image clicked')
			tooltipLocked = !tooltipLocked
			if (tooltipLocked) {
				tooltipEl.style.userSelect = 'auto'
				tooltipEl.style.pointerEvents = 'auto'
			} else {
				tooltipEl.style.userSelect = null
				tooltipEl.style.pointerEvents = null
			}
		})

		document.addEventListener('mousedown', (e) => {
			if (tooltipLocked && !tooltipEl.contains(e.target)) {
				console.log('unlocked tooltip', e)
				tooltipLocked = false
				tooltipEl.style.userSelect = null
				tooltipEl.style.pointerEvents = null
				tooltipEl.style.display = 'none'
			}
		})
	}
})
	</script>
	{%- endblock -%}
</head>
<body>
{%- block body -%}
	<div id="global-tooltip" style="display: none"></div>
	<main>
	{%- block main -%}

	{%- endblock -%}
	</main>
{%- endblock -%}
</body>
</html>
