{%- set totalVotes = 0 -%}
{%- set winner = {} -%}
{%- set candidateEmojis = {
	'aatrox': '⚔️',
	'paul': '☠️',
	'foxy': '🍬',
	'cole': '⛏️',
	'marina': '🐟',
	'barry': '🔮',
	'diaz': '🏦',
	'diana': '🦅',
	'derpy': '👨‍🦲'
} %}
{%- for candidate in data.previous.candidates -%}
	{%- set totalVotes = totalVotes + candidate.votes -%}
	{%- if candidate.name == data.previous.winner -%}
		{%- set winner = candidate -%}
	{%- endif -%}
{%- endfor -%}

{%- if data.current -%}
Ongoing election:
{%- else -%}
Previous election:
{%- endif -%}

{%- for candidate in (data.current or data.previous).candidates|sort(true, false, 'votes') -%}
{{ '' }}
{{ candidateEmojis[candidate.name|lower] or '❓' }} {{ candidate.name }} ({{ ((candidate.votes / totalVotes) * 100)|round }}%)
{%- endfor -%}