{% import "render.njk" as render %}

{% extends "base.njk" %}

{%- block headerContainer -%}{#- this removes the header from the index page -#}{%- endblock -%}

{% block main -%}
<a href="https://github.com/skyblockstats"><img src="/github-mark-light.png" class="github-mark" alt="GitHub mark"></a>
{% if loggedIn %}<a href="/profile" id="login-button">Edit profile</a>{% else %}<a href="/login" id="login-button">Log in</a>{% endif %}
<h1 id="main-title">SkyBlock Stats</h1>
<form action="/player" method="post" class="user-form">
	<input class="enter-username-button" type="text" placeholder="Enter username" name="user-search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-label="Enter username">
	<input class="view-profiles-button" type="submit" value="View profiles">
</form>
<hr style="margin: 25vh 0 2em 0">
<div class="other-tools-container">
	<h3>Other SkyBlock tools</h3>
	<ul>
		<li><a>Auction prices (coming soon)</a></li>
		<li><a href="/leaderboards">Leaderboards</a></li>
		<li><a>Bazaar (coming soon)</a></li>
		<li><a href="/chat">Fake chat generator</a></li>
		<li><a href="https://skyblock-npcs.matdoes.dev">NPC Skin Stealer</a></li>
	</ul>
</div>

<h2>Donators</h2>
Thank you to these people for <a href="https://patreon.com/matdoesdev" target="_blank">donating</a>!
<ul>
{% for donator in donators|shuffle %}
	<li>{{ render.username(donator.player, headType='2d', hyperlinkToProfile=true) }}</li>
{% endfor %}
</ul>
<h2>Info</h2>
<p>Website made by <a href="https://matdoes.dev">mat</a>.</p>
<p>Join the <a href="https://discord.gg/nWQKpzPCPJ">Forum Sweats</a> Discord server.</p>
<p>Resource packs: <a href="//packshq.com">PacksHQ</a> (default), <a href="//hypixel.net/threads/2138599">Furfsky</a>, <a href="//furfsky.net">Furfsky Reborn</a>, <a href="//hypixel.net/threads/2239953">Ectoplasm</a>, <a href="//hypixel.net/threads/3470904">RNBW</a>.</p>
<p>Minecraft heads API: <a href="//mc-heads.net">mc-heads.net</a></p>
{%- endblock %}
