{% import "render.njk" as render %}
{% extends "base.njk" %}

{% block metatitle %}{% block title %}{{ data.name|clean }} - SkyBlock Leaderboards{% endblock %}{% endblock %}

{% block backArrowHref %}/leaderboards{% endblock %}

{%- block main -%}
	{% set imageUrl = '' %}
	{% if data.name|startsWith('collection_') %}
		{% set imageUrl = data.name|slice(11)|itemNameToUrl %}
	{% endif %}

	<h1 id="leaderboard-title"{% if imageUrl %} style="background: url('{{ imageUrl }}') 0 0/1em no-repeat;" class="leaderboard-title-with-icon"{% endif %}>{{ data.name|clean }}</h1>
	{%- if data.info %}<i id="leaderboard-info">{{ data.info|safe }}</i>{% endif -%}

	<ol class="leaderboard-profile-list">
	{%- for leaderboardItem in data.list -%}
		<li class="leaderboard-profile-list-item">
			<span>{{ leaderboardItem.value|cleannumber(data.unit or data.name|clean|lower) }} </span> 
			{%- if leaderboardItem.player -%}
				{{ render.username(leaderboardItem.player, headType='2d', hyperlinkToProfile=leaderboardItem.profileUuid) -}}
			{%- elif leaderboardItem.players -%}
				{%- for player in leaderboardItem.players -%}
					<span>{{- render.username(player, headType='2d', hyperlinkToProfile=true) }} </span>
				{%- endfor -%}
			{%- else -%}
				Unknown player
			{%- endif -%}
		</li>
	{%- endfor -%}
	<ol>
{%- endblock -%}
