{% import "render.njk" as render %}
{% extends "base.njk" %}

{%- block head -%}
{{- super() -}}
<script>{% include 'toc.js' %}</script>
{%- endblock -%}

{% block metatitle %}{% block title %}Hypixel SkyBlock Leaderboards{% endblock %}{% endblock %}

{%- block main -%}
	<h1>Hypixel SkyBlock leaderboards</h1>

	<ul id="toc"><h3>Contents</h3></ul>

	<div id="categories">
		{%- for category, leaderboards in data -%}
			<section id="{{ category }}"  class="collapsible">
				<h2>{{ category|clean|title }}</h2>
				<ul>
				{%- for leaderboard in leaderboards -%}
					{% set imageUrl = '' %}
					{% if leaderboard|startsWith('collection_') %}
						{% set imageUrl = leaderboard|slice(11)|itemNameToUrl %}
					{% endif %}
					<li{% if imageUrl %} style="background: url('{{ imageUrl }}') 0 0/1em no-repeat;"{% endif %} class="leaderboards-list-item{% if imageUrl %} leaderboards-list-item-with-icon{% endif %}"><a href="/leaderboard/{{ leaderboard }}">{{ leaderboard|clean }}</a></li>
				{%- endfor -%}
				</ul>
			</section>
		{% endfor %}
	<div>
{%- endblock -%}
