{% import 'render.njk' as render %}
{% extends 'base.njk' %}

{%- block head -%}
{{- super() -}}
<script>{% include 'toc.js' %}</script>
{%- endblock -%}

{%- block main -%}
	<h1>{{ render.username(data.member, headType='3d') }}</h1>
	{% set categories = [
		'deaths',
		'kills'
	] %}

	<ul id="toc"><h3>Contents</h3></ul>

	<div>
		<div id="categories">
			{% for category in categories %}
				<section id="{{ category }}"  class="collapsible">
					<h2>{{ category|title }}</h2>
					{#- we need to use with so the include passes context -#}
					{%- with { data: data, category: category } -%}
						{#- include the category from the sections folder -#}
						{%- include "sections/" + category + ".njk" -%}
					{% endwith %}
				</section>
			{% endfor %}
		</section>
	</div>
{%- endblock -%}
