{% import 'render.njk' as render %}
{% extends 'base.njk' %}

{% block metatitle %}{% block title %}{{ data.member.username }}'s SkyBlock profile ({{ data.member.profileName }}) {% endblock %}{% endblock %}

{% block backArrowHref %}/player/{{ data.member.username }}{% endblock %}

{%- block head -%}
{{- super() -}}
<script>{% include 'toc.js' %}</script>
{% if backgroundUrl %}
<style>
body:before {
	content: '';
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background: url('{{ backgroundUrl }}') no-repeat center center;
	background-size: cover;
}
</style>
{% endif %}
{%- endblock -%}

{%- block main -%}
	<h1>{{ render.username(data.member, headType='3d') }} ({{ data.member.profileName }})</h1>
	{%- set categories = [
		'deaths',
		'kills',
		'auctions',
		'fishing',
		'races',
		'misc',
		'minions',
		'leaderboards'
	] -%}
	
	{%- include 'sections/infobox.njk' -%}

	<ul id="toc"><h3>Contents</h3></ul>

	<div>
		<div id="categories">
			{%- if data.member.inventories.armor -%}
				<section id="armor"{% if data.member.inventories.inventory %} class="armor-float"{% endif %}>
					<h2>Armor</h2>
					{%- include 'sections/armor.njk' -%}
				</section>
			{%- endif -%}
			{%- if data.member.inventories.inventory -%}
				<section id="inventories">
					<h2>Inventories</h2>
					{%- include 'sections/inventories.njk' -%}
				</section>
			{%- endif -%}
			{%- asyncAll category in categories -%}
				<section id="{{ category }}" class="collapsible">
					<h2>{{ category|replace('_', ' ')|title }}</h2>
					{#- we need to use with so the include passes context -#}
					{% with { data: data, category: category } %}
						{#- include the category from the sections folder -#}
						{%- include 'sections/' + category + '.njk' -%}
					{% endwith %}
				</section>
			{%- endall -%}
		</div>
	</div>
{%- endblock -%}
