{% import "render.njk" as render %}
{% extends "base.njk" %}

{%- block main -%}
	<h1>{{ render.username(data.player, headType='3d') }}'s profiles</h1>

	<ul class="profile-list">
	{%- for profile in data.profiles -%}
		<li class="profile-list-item">
			<a class="profile-name" href="/player/{{ data.player.username }}/{{ profile.name }}">{{ profile.name }}</a>
			{#- This comment is necessary to remove the space between the profile name and the user list :) -#}
			<span class="profile-members">
				{%- if profile.members|length > 1 %}{% for player in profile.members -%}
					{#- don't unnecessarily hyperlink to the page it's already o -#}
					{%- set hyperlinkToProfile = player.uuid != data.player.uuid -%}
					{{- render.username(player, headType='2d', hyperlinkToProfile=hyperlinkToProfile) -}}
				{%- endfor -%}
				{%- else %}Solo{% endif -%}
			</span>
		</li>
	{%- endfor -%}
	<ul>
{%- endblock -%}
