{% import "render.njk" as render %}
{% extends "base.njk" %}

{% block metatitle %}{% block title %}{{ data.player.username }}'s SkyBlock profiles{% endblock %}{% endblock %}

{%- block head -%}
{{- super() -}}
{% if data.customization and data.customization.backgroundUrl %}
<style>
body {
	background-image: url('{{ data.customization.backgroundUrl }}');
	background-position: center;
	background-size: cover;
	background-repeat: none;
	background-attachment: fixed
}
</style>
{% endif %}
{% endblock %}

{%- block main -%}
	<h1>{{ render.username(data.player, headType='3d') }}'s profiles</h1>

	{%- set activeProfile = null -%}
	{%- set activeProfileLastSave = 0 -%}
	{%- for profile in data.profiles -%}
		{%- for member in profile.members -%}
			{%- if member.last_save > activeProfileLastSave -%}
				{%- set activeProfile = profile -%}
				{%- set activeProfileLastSave = member.last_save -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endfor -%}

	{%- set activeProfileOnline = getTime() - 60 < activeProfileLastSave -%}

	<ul class="profile-list">
	{%- for profile in data.profiles -%}
		<li class="profile-list-item{% if profile.uuid == activeProfile.uuid %} profile-list-item-active{% if activeProfileOnline %} profile-list-item-online{% endif %}{% endif %}">
			<a class="profile-name" href="/player/{{ data.player.username }}/{{ profile.name }}">{{ profile.name }}</a>
			{#- This comment is necessary to remove the space between the profile name and the user list :) -#}
			<span class="profile-members">
				{%- if profile.members|length > 1 %}{% for player in profile.members -%}
					{#- don't unnecessarily hyperlink to the page it's already o -#}
					{%- set hyperlinkToProfile = player.uuid != data.player.uuid -%}
					{{- render.username(player, headType='2d', hyperlinkToProfile=hyperlinkToProfile) -}}
				{%- endfor -%}
				{%- else %}Solo{% endif -%}
			</span>
		</li>
	{%- endfor -%}
	<ul>
{%- endblock -%}
